html {
  content: '';
  position: relative;
  border:10px solid maroon;
  border-radius: 20px;
  margin: 1%;
  /* margin-bottom: 1%; */
  min-height: 98%;
  height: auto;
}

body {
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    background-color: white;
    margin: 1%;
    width: 95%;
    max-width: 600px;
    position: relative;
}

h1 {
    color: black;
    font-family: ubuntu;
    font-size: 210%;
}
h2 {
    color: black;
    font-family: ubuntu;
    font-size: 135%;
}
h3 {
    color: black;
    font-family: ubuntu;
    font-size: 110%;
    padding-left: 10%;
}
h4 {
    color: black;
    font-family: ubuntu;
    font-size: 100%;
    padding-left: 10%;
}
h5 {
    color: black;
    font-family: ubuntu;
    font-size: 90%;
}
p {
    color: black;
    font-family: ubuntu;
    font-size: 100%;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: ubuntu;
}

li {
    display: inline;
    margin: 10px;
}

ol {
    margin: 5px;
    list-style-type: circle;
    font-family: ubuntu;
    font-size: 100%;
    color: black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

iframe {
    width: 90%;
    min-height: 450px;
    height: 70%;
    max-height: 90vh;
    border: none;
}

.fig-title {
    color: black;
    font-family: ubuntu;
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}

.tab {
    padding-left: 10%;
    font-family: ubuntu;
}

.tab-1 {
    padding-left: 3%;
    padding-bottom: 1%;
}

code {
    font-size: 110%;
    font-weight: bold;
}

img[alt=drawing] { width: 200px; }